
.main-chat
  .main-chat__header
    .group-list
      %h2.group-list__name
        = @group.name
      %ul.group-list__members
        Member : 
        - @group.users.each do |user|
          %li.group-list__members--names
            = user.name

    .edit-group
      = link_to edit_group_path(@group) do
        Edit

  .main-chat__contents
    = render @messages
  .main-chat__form
    = form_for [@group, @message] do |f|
      .input-box
        .write-box
          = f.text_field :content, class: 'write-box__text', placeholder: 'type a message'
          = f.label :image, class: 'write-box__image' do
            = icon('far', 'image')
            = f.file_field :image, class: 'write-box__image__file'
        = f.submit 'Send', class: 'send-btn'
