
.side-bar
  .side-bar__box
    .users-box
      %p.users-box__names
        TEST
      %ul.users-box__icons
        %li.users-box__icons__btn-new
          = link_to "#" do
            = icon('far','edit')
        %li.users-box__icons__btn-edit
          = link_to "#" do
            = icon('fas', 'cog')
  .side-bar__groups
    .groups-box
      .groups-box__name
        = link_to "#" do
          test
      .groups-box__message
        = link_to "#" do
          まだメッセージはありません
